.vscode/*
data/*
models/*
notebooks/*
weights/*
# Project exclude paths
/report_viewer/frontend/node_modules/
/report_viewer/frontend/node_modules/@babel/parser/
/report_viewer/frontend/node_modules/@babel/types/
/report_viewer/frontend/node_modules/@rolldown/pluginutils/dist/index.cjs
/report_viewer/frontend/node_modules/@rolldown/pluginutils/dist/index.js
/report_viewer/frontend/node_modules/@rolldown/pluginutils/LICENSE
/report_viewer/frontend/node_modules/@types/babel__core/LICENSE
/report_viewer/frontend/node_modules/@types/babel__core/README.md
/report_viewer/frontend/node_modules/@types/babel__generator/LICENSE
/report_viewer/frontend/node_modules/@types/babel__generator/README.md
/report_viewer/frontend/node_modules/@types/babel__template/LICENSE
/report_viewer/frontend/node_modules/@types/babel__template/README.md
/report_viewer/frontend/node_modules/@types/babel__traverse/LICENSE
/report_viewer/frontend/node_modules/@types/babel__traverse/README.md
/report_viewer/frontend/node_modules/@types/estree/LICENSE
/report_viewer/frontend/node_modules/@types/estree/README.md
/report_viewer/frontend/node_modules/@vitejs/plugin-react/
/report_viewer/frontend/node_modules/esbuild/
/report_viewer/frontend/node_modules/esbuild/lib/main.js
/report_viewer/frontend/node_modules/nanoid/
/report_viewer/frontend/node_modules/nanoid/non-secure/index.cjs
/report_viewer/frontend/node_modules/nanoid/non-secure/index.js
/report_viewer/frontend/node_modules/picocolors/
/report_viewer/frontend/node_modules/postcss/
/report_viewer/frontend/node_modules/react/LICENSE
/report_viewer/frontend/node_modules/react/README.md
/report_viewer/frontend/node_modules/react-dom/LICENSE
/report_viewer/frontend/node_modules/react-dom/README.md
/report_viewer/frontend/node_modules/rollup/
/report_viewer/frontend/node_modules/source-map-js/
/report_viewer/frontend/node_modules/vite/